<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="<%= info[0].fotoPerfil %>" alt="">
                <div class="info-usuario">
                    <p><%= info[0].username %></p>
                    <a class="follow" href="">seguir</a>
                    <ul class="meta">
                        <li>100 post</li>
                        <li>200 seguidores</li>
                        <li>300 seguidos</li>
                    </ul>
                </div>
            </section>
            <section class="bottom">
                    <% for( let i = 0; i < info.length; i++ ) { %>
                        <article class="post">   
                    
                    <a href="/postDetail">
                        <img src="<%= info[i].url %>" alt="">
                    </a>
                    </article>
                    <% } %>
                
                
                
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>