<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    
    <% if (locals.user != undefined) { %>
     
        <%- include('./partials/headerLog') %>

        <% } else { %>
         
            <%- include('./partials/header') %>
            
    <% } %>
    <main>
        <div class="post-detail container">
            <section class="center main-content post">
                <div class="info-usuario">
                    <img src="https://via.placeholder.com/40" alt="">
                    <p><a href="detalleUsuario.ejs"><%= post.id %></a></p>
                </div>
                <img class="photo" src="<%= post.url %>" alt="">
            </section>
            <section class="right">
                <h4>Comentarios</h4>
                <section class="comments">
                    <form action="" class="comment-form">
                        <input type="text" class="input" placeholder="Agregar comentario">
                        <button type="submit">Comentar</button>
                    </form>
                    <div>
                        
                        <article class="comment">
                            <img src="https://via.placeholder.com/40" alt="">
                            <section class="content">
                                <% for( let i = 0; i < post.postToComentario.length; i++ ) { %>
                                    <li>
                                        <a href="/users/detail/<%= post.postToComentario[i].idUsuarios %>"><%= post.postToComentario[i].commentToUser.email %></a>
                                        <span><%= post.postToComentario[i].textoComent %></span>
                                    </li>
                                    <% } %>
                            </section>
                        </article>
                    </div>
                </section>
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>