<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

    <% if (locals.user != undefined) { %>
     
        <%- include('./partials/headerLog') %>

        <% } else { %>
         
            <%- include('./partials/header') %>
            
    <% } %>

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="<%= user.fotoPerfil %>" alt="">
                <div class="info-usuario">
                    <p><%= user.email %></p>
                    <a class="follow" href="">seguir</a>
                    <ul class="meta">
                        <li>100 post</li>
                        <li>200 seguidores</li>
                        <li>300 seguidos</li>
                    </ul>
                </div>
            </section>
            <section class="bottom">
                    <% for( let i = 0; i < user.usuariosToPost.length; i++ ) { %>
                        <article class="post">   
                    <a href="/posteos/postDetail/ <%=user.usuariosToPost[i].idPosteos %>">
                        <img src="<%= user.usuariosToPost[i].url %>" alt="">
                        <p><%= user.usuariosToPost[i].nombreImagen %></p>
                    </a>
                    </article>
                    <% } %>
                
                
                
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>