<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">

            <% for( let i = 0; i < info.length; i++ ) { %>
            
            <article class="post">
                <div class="info-usuario ">
                    <img src="https://via.placeholder.com/40" alt="">
                    <h4>
                        <a href="/user"><%= info[i].username %></a>
                    </h4>
                </div>
                <div class="post-body">
                    <a href="/postDetail">
                        <img src=<%= info[i].url %> alt="">
                    </a>
                </div>
                <ul class="post-reacciones">
                    <li>
                        <i class="fa-regular fa-heart"></i>
                    </li>
                    <li>
                        <i class="fa-regular fa-comment"></i>
                    </li>
                </ul>
                <div class="post-comentarios">
                    <h2><%= info[i].piePosteo %></h2>
                    <h4>Comentarios</h4>
                    <ul>
                        <% for( let x = 0; x < info[i].comentarios.length; x++ ) { %>
                        
                            <li>
                                <a href="/profile"><%= info[i].comentarios[x].nombre %></a>
                                <span><%= info[i].comentarios[x].textoComent %></span>
                            </li>
                            <% } %>

                    </ul>
                    </div>
                            
            <% } %>

        </section>    
    </main>

    <%- include('./partials/footer') %>

</body>

</html>