<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">

            <% for( let i = 0; i < dato.length; i++ ) { %>
            
            <article class="post">
                <div class="info-usuario ">
                    <img src="https://via.placeholder.com/40" alt="">
                    <h4>
                        <a href="detalleUsuario.html"><%= dato[i].email %></a>
                    </h4>
                </div>
                <div class="post-body">
                    <a href="detallePost.html">
                        <img src=<%= dato[i].url %> alt="">
                    </a>
                </div>
                <ul class="post-reacciones">
                    <li>
                        <i class="fa-regular fa-heart"></i>
                    </li>
                    <li>
                        <i class="fa-regular fa-comment"></i>
                    </li>
                </ul>
                <div class="post-comentarios">
                    <h2><%= dato[i].piePosteo %></h2>
                    <h4>Comentarios</h4>
                    <ul>
                        <% for( let x = 0; x < dato[i].comentarios.length; x++ ) { %>
                        
                        <li>
                            <a href="detalleUsuario.html"><%= datos[i].comentarios[x].usuarios %></a>
                            <span><%= dato[i].comentarios[x].comentarios %></span>
                        </li>
                        <% } %>
                        <li>

            <% } %>

        </section>    
    </main>

    <%- include('./partials/footer') %>

</body>

</html>